<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/assets/landing.css" type="text/css">

    <link href= "/public/assets/projects.css" rel="stylesheet" type="text/css">
    <link href= "/public/assets/profile.css" rel="stylesheet" type="text/css">
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--Import materialize.css-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>    
</head>
<body>

<nav>
    <div class="nav-wrapper indigo darken-4">
      <a href="/" class="brand-logo center">VIT PRO BUD</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
      <%  if(!user){%>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <%  }else{ %>
           <li><a href="/logout">logout</a></li>
           <li><a href="/userprofile"> <img id="smallprofileImg" src="/<%= user.img.path %>" alt=""></a></li>
      <%  } %>
      
      </ul>
    </div>
  </nav>